fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
pydantic-settings==2.7.1
redis==5.2.1
confluent-kafka==2.8.0
SQLAlchemy==2.0.36
asyncpg==0.30.0
alembic==1.14.0
clickhouse-connect==0.8.9
pandas==2.2.3
numpy==2.2.1
nselib @ git+https://github.com/RuchiTanmay/nselib.git
tenacity==9.0.0
httpx==0.28.1
python-json-logger==3.2.1
orjson==3.10.12
pdfplumber==0.11.5
PyPDF2==3.0.1
prometheus-client==0.21.1
